/*Контейнер-обертка*/
.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Заголовки */
.logo {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    color: #0d5ec8;

}

h1 {
    font-size: 48px;
    font-weight: 700;
    color: #1a1a1a;
   
}

h2 {
    font-size: 36px;
    font-weight: 600;
    color: #1a1a1a;
}

h3 {
    font-size: 24px;
    font-weight: 600;
    color: #333333;
    
}

/* Кнопки */
.button {
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    color: #e1d2ff;
     text-align: center;
    
    border: 1px solid #fdb100;
    border-radius: 16px;
    background-color: transparent;

}

.button--link {
    text-decoration: underline;
    text-decoration-style: dashed;
    text-underline-offset: 8px;

    border: none;
    background-color: transparent;
}

/* Формы */
.form__field {
    font-size: 16px;

    background-color: transparent;
    border: 1px solid rgba(145, 150, 161, 0.4);
    border-radius: 16px;
}
